
<mat-toolbar class="header">
  <div class="header-wrapper">
    <div class="inner-header">
      <app-location></app-location>
      <app-navbar-menu></app-navbar-menu>
      <app-communications></app-communications>
      <app-working-time></app-working-time>
    </div>
  </div>
</mat-toolbar>
<div class="separator"></div>
<mat-toolbar class="middle-header">
  <div class="header-wrapper">
    <app-logo></app-logo>
    <app-catalog-button></app-catalog-button>
    <app-search-field></app-search-field>
    <app-user-account></app-user-account>
    <app-header-cart></app-header-cart>
  </div>
</mat-toolbar>
<app-lower-header></app-lower-header>
