@use '../../../mixins' as mix;

mat-toolbar {
  background-color: #f7f8fa;
}

mat-toolbar.header {
  @include mix.flex-centered;
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 20px;

  .inner-header {
    width: 1090px;
    height: 40px;
    @include mix.flex-centered;

    app-location {
      cursor: pointer;
    }

    app-location:hover {
      color: #d62761;
    }

    app-communications {
      margin-left: 20px;
    }
  }
}
