
.search-wrapper {
  height: 42px;

  form {
    padding: 0;
    margin: 0;
    fieldset {
      border: 0;
      position: relative;
      padding: 0;
      border-radius: 80px;
      background: #fff;
      box-shadow: 0 2px 4px rgb(23 35 38 / 5%);

      .submit-btn {
        position: absolute;
        top: 13px;
        left: 15px;
        width: 14px;
        height: 14px;
        border: 0;
        cursor: pointer;
        background: none;
        color: #ABAEB3;
        z-index: 1;
        transition: color .2s ease;
      }
      .submit-btn:hover {
        color: #1a1a1a;
        svg path {
          fill: currentcolor;
        }
      }


      input[type=text] {
        width: 100%;
        padding: 11px 42px 11px 42px;
        font-size: 14px;
        line-height: 20px;
        overflow: hidden;
        outline: none;
        border: none;
        background: transparent;
        color: #1A1A1A;
      }

      ::-webkit-input-placeholder { opacity: 1; -webkit-transition: opacity .5s; transition: opacity .5s; }  /* Chrome <=56, Safari < 10 */
      :-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 4-18 */
      ::-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 19-51 */
      :-ms-input-placeholder { opacity: 1; -ms-transition: opacity .5s; transition: opacity .5s; } /* IE 10+ */
      ::placeholder { opacity: 1; transition: opacity .5s; } /* Modern Browsers */

      input[type=text]:focus::-webkit-input-placeholder { opacity: 0; } /* Chrome <=56, Safari < 10 */
      input[type=text]:focus:-moz-placeholder { opacity: 0; } /* FF 4-18 */
      input[type=text]:focus::-moz-placeholder { opacity: 0; } /* FF 19-50 */
      input[type=text]:focus:-ms-input-placeholder { opacity: 0; } /* IE 10+ */
      input[type=text]:focus::placeholder { opacity: 0; } /* Modern Browsers */

      .search-cancel::before {
        content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -1px;
          margin-left: -4px;
          display: block;
          width: 8px;
          height: 1.6px;
          transform: rotate(45deg);
          background: #fff;
      }

      .search-cancel {
        position: absolute;
        top: 12px;
        right: 12px;
        display: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 0;
        text-indent: -9999px;
        background: rgba(171, 174, 179, .6);
        cursor: pointer;
      }
      .search-cancel::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -1px;
        margin-left: -4px;
        display: block;
        width: 8px;
        height: 1.6px;
        background: #fff;
        transform: rotate(-45deg);
      }

    }

  }
  form:focus-within {
    svg path {
      fill:#1A1A1A;
    }
  }
}

